#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	color: #8b0000;
}

.list-img {
	width: 200px;
	height: 200px;
	padding-bottom: 10px;
}

.articles-div {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 6px;
}
article {
	border: 1px solid red;
}

nav {
	margin-bottom: 20px;
	width: 100vw;
	padding: 10px;
	border: 1px solid red;
	max-width: 1280px;
}

#article-card-span {
	color: #8b0000;
}
